params {
   data = '/mnt/shared/MedGen/ONTdata/k8s_testing/20220614_1150_MN16014_ais387_bfa74e7a/fast5_pass'
}

k8s {
   namespace = 'svaton-ns'
   runAsUser = 1000
   storageClaimName = 'pvc-janek-storage-elixir1-cerit-sc-cz'
   launchDir = '/mnt/home/450402/000000-My_Documents/Test_nanopore_k8s/launch'
   projectDir = '/mnt/home/450402/000000-My_Documents/Test_nanopore_k8s/project'
   workDir = '/mnt/home/450402/000000-My_Documents/Test_nanopore_k8s/temp'
//useJobs=true
   pullPolicy = 'IfNotPresent'
   storageMountPath = '/mnt'
   computeResourceType = 'Job'
}

executor {
  queueSize = 15
}

process {
 withName: 'GUPPY_.*' {
  container = 'registry.gitlab.ics.muni.cz:443/450402/nanopore_k8s:latest'
   }
 
   container = 'registry.gitlab.ics.muni.cz:443/450402/mareckova_cxcr_k8s:23'
   scratch = true
   executor = 'k8s'
   cpus = 8
   memory = '8GB'
   pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
}

manifest {
  defaultBranch = 'main'
}
