k8s {
 namespace = 'medgen-ns'
 runAsUser = 1000
 storageClaimName = 'pvc-janlambshare-storage-elixir1-cerit-sc-cz'
 pod = [ [volumeClaim: 'pvc-jans-elixir-share', mountPath: "/storage" ]
 ,[volumeClaim: "pvc-medgen-plevova", mountPath: "/other" ]
 ]

 homeDir = "/storage/share/110000-MED/110323-imgg/111323-plevova/01.NanoBreak/src"
 launchDir = "${k8s.homeDir}/launch"
 projectDir = "${k8s.homeDir}/project"
 workDir = "${k8s.homeDir}/temp"
 useJobs = true
 pullPolicy = 'IfNotPresent'
 // pullPolicy = 'Always'
 storageMountPath = '/mnt'
 computeResourceType = 'Job'
}

params {
 outDir = '/storage/share/110000-MED/110323-imgg/111323-plevova/01.NanoBreak/data/samples'
 projectDirectory = "${k8s.projectDir}/xsvato01/nanopore_k8s/"

 //scripts
 ComputeDistance = "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/ComputeDistance.py"
 TagUniqes =  "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/TagUnique.py"
 Circos =  "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/circos.R"
 CnvPlotTobias = "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/rd.R"
 FilterSingletons = "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/filterSingletons.py"
 ParseSurvivor = "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/ParseSurvivor.py"


 ref_specific = [
  [
    refname:'GrCh38',
    ref:'/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/seq/GRCh38-p10.fa',
    vep:'/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/annot/vep' ,
    refFlat: "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38/GrCh38.refFlat.noChr.txt",
    refLengths : "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38/GrCh38.lens.txt", 
    cytoMap :  "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38/GrCh38.cytoMap.bed",
    CNVdb : "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38/GrCh38.cnvDB.bed",
    nonMappableRepeats: "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38/GrCh38.nonMappable.repeatsTrf.bed",
    nonMappableRepeatsTobias: "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38/dna.primary_assembly.fa.r101.s501.NoCHR.blacklist.gz",
    alfredAnnotateBed: "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38/Homo_sapiens.GRCh38.107.gtf.gz"
  ],
  [
    refname: 'GrCh37',
    ref : '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh37-p13_r87/seq/GRCh37-p13_r87.fasta.gz',
    vep : '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh37-p13_r87/annot/vep/',
    refFlat : "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh37/GrCh37.refFlat.noChr.txt",
    refLengths :  "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh37/GrCh37.lens.txt",
    cytoMap : "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh37/GrCh37.cytoMap.bed",
    CNVdb : "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh37/GrCh37.cnvDB.bed",
    nonMappableRepeats : "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh37/GrCh37.nonMappable.repeatsTrf.bed"
  ]
 ]
}


executor {
   queueSize = 50
}

process {
 shell = ['/bin/bash', '-euo', 'pipefail']
 container = 'registry.gitlab.ics.muni.cz:443/450402/nanopore_k8s:latest'
 scratch = true
 executor = 'k8s'
 pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
 errorStrategy = { task.exitStatus in [143,137,104,134,139,247] ? 'retry' : 'finish' }

 cpus = 1
 memory = '1GB'
   withLabel: s_mem {
      memory = {1.GB * task.attempt * (3/4)}
   }
   withLabel: m_mem {
      memory = {4.GB * task.attempt * (3/4)}
   }
   withLabel: l_mem {
      memory = {12.GB * task.attempt * (3/4)}
   }     
   withLabel: xl_mem {
      memory = {24.GB * task.attempt * (3/4)}
   }
   withLabel: xxl_mem {
      memory = {48.GB * task.attempt * (3/4)}
   }
   withLabel: s_cpu {
      cpus = 1
   }
   withLabel: m_cpu {
      cpus = 4
   }
   withLabel: l_cpu {
      cpus = 8
   }

}

manifest {
 defaultBranch = 'main'
}
