k8s {
 namespace = 'medgen-ns'
 runAsUser = 1000
 storageClaimName = 'pvc-janlambshare-storage-elixir1-cerit-sc-cz'
 pod = [ [volumeClaim: 'pvc-jans-elixir-share', mountPath: "/storage" ],
 [volumeClaim: "pvc-medgen-plevova", mountPath: "/other" ]]

 homeDir = "/storage/share/110000-MED/110323-imgg/111323-plevova/01.NanoBreak/src"
 launchDir = "${k8s.homeDir}/launch"
 projectDir = "${k8s.homeDir}/project"
 workDir = "${k8s.homeDir}/temp"
 useJobs = true
 pullPolicy = 'IfNotPresent'
 // pullPolicy = 'Always'
 storageMountPath = '/mnt'
 computeResourceType = 'Job'
}

params {
 outDir = '/storage/share/110000-MED/110323-imgg/111323-plevova/01.NanoBreak/data/samples'
 projectDirectory = "${k8s.projectDir}/xsvato01/nanopore_k8s/"

 //scripts
 ComputeDistance = "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/ComputeDistance.py"
 TagUniqes =  "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/TagUnique.py"
 Circos =  "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/circos.R"
 CnvPlotTobias = "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/rd.R"
 FilterSingletons = "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/filterSingletons.py"
 ParseSurvivor = "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/ParseSurvivor.py"


 ref_specific = [
  [
    refname:'GrCh38',
    ref:'/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/seq/GRCh38-p10.fa',
    vep:'/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/annot/vep' ,
    refFlat: "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38/GrCh38.refFlat.noChr.txt",
    refLengths : "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38/GrCh38.lens.txt", 
    cytoMap :  "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38/GrCh38.cytoMap.bed",
    CNVdb : "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38/GrCh38.cnvDB.bed",
    nonMappableRepeats: "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38/GrCh38.nonMappable.repeatsTrf.bed",
    nonMappableRepeatsTobias: "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38/dna.primary_assembly.fa.r101.s501.NoCHR.blacklist.gz",
    alfredAnnotateBed: "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38/Homo_sapiens.GRCh38.107.gtf.gz"
  ],
  [
    refname: 'GrCh37',
    ref : '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh37-p13_r87/seq/GRCh37-p13_r87.fasta.gz',
    vep : '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh37-p13_r87/annot/vep/',
    refFlat : "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh37/GrCh37.refFlat.noChr.txt",
    refLengths :  "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh37/GrCh37.lens.txt",
    cytoMap : "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh37/GrCh37.cytoMap.bed",
    CNVdb : "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh37/GrCh37.cnvDB.bed",
    nonMappableRepeats : "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh37/GrCh37.nonMappable.repeatsTrf.bed"
  ]
 ]
}


executor {
   queueSize = 50
}

process {
  withLabel:big_mem {
      memory = 80.GB
   }
   withLabel:biggest_mem {
      memory = 300.GB
   }
   withLabel:big_cpus {
      cpus = 64
   }
   withLabel:small_process {
      cpus = 1
      memory = 4.GB
   }
   withLabel:medium_cpus {
      cpus = 8
   }
   withLabel:medium_mem {
      memory = 8.GB
   }
 shell = ['/bin/bash', '-euo', 'pipefail']
 container = 'registry.gitlab.ics.muni.cz:443/450402/nanopore_k8s:latest'
 scratch = true
 executor = 'k8s'
 cpus = 2
 memory = '32GB'
 pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
 //errorStrategy = 'finish'
}

manifest {
 defaultBranch = 'main'
}
