k8s {
 namespace = 'medgen-ns'
 runAsUser = 1000
 storageClaimName = 'pvc-janlambshare-storage-elixir1-cerit-sc-cz'
 homeDir = "/mnt/shared/MedGen/ONTdata/nanobreak/src/pipeline"
 launchDir = "${k8s.homeDir}/launch"
 projectDir = "${k8s.homeDir}/project"
 workDir = "${k8s.homeDir}/temp"
 useJobs = true
 pullPolicy = 'IfNotPresent'
 // pullPolicy = 'Always'
 storageMountPath = '/mnt'
 pod = [ [volumeClaim: 'pvc-jans-elixir-share', mountPath: "/storage" ]]
 computeResourceType = 'Job'
}

params {
 outDir = '/storage/share/110000-MED/110323-imgg/111323-plevova/01.NanoBreak/data/samples'

 //scripts
 ComputeDistance = "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/ComputeDistance.py"
 TagUniqes =  "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/TagUnique.py"
 Circos =  "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/circos.R"

 //files
 GrCh38ref = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/seq/GRCh38-p10.fa'
 GrCh38vep = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/annot/vep'
 GrCh38refFlat = "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38.refFlat.noChr.txt"
 GrCh38lens =  "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38.lens.txt"  
 GrCh38cytomap = "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38.cytoMap.bed"  
 GrCh38CNVdb = "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38.cnvDB.bed"
 GrCh38nonMappableRepeats = "${k8s.projectDir}/xsvato01/nanopore_k8s/bin/GrCh38.nonMappable.repeats.bed"
}


executor {
   queueSize = 50
}

process {

 pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
 //errorStrategy = 'finish'
}

manifest {
 defaultBranch = 'main'
}
